/* Homepage Dashboard */

input:focus {
    outline: none;
}

.tborder {
    border-top: 1px solid #ccc;
}

.pt-zero {
    padding-top: 0 !important;
}

.bborder {
    border-bottom: 1px solid #ccc;
}

.homepage-dashboard {
    background: #eee;

    .dasContent {
        background: #fff;
        border-radius: 10px;
        padding: 60px 0;

        .overview-head {
            padding: 20px 0 10px;
            text-align: center;
            border-bottom: 1px solid #ccc;

            span {
                font-size: 19px;
            }
        }

        .overview-body {
            padding: 30px 10px 10px 20px;
        }

        .col-sm-5 {
            box-shadow: 0 0 20px #ddd;
            padding: 0;
        }
    }
}

.overview-footer {
    text-align: center;

    div {
        display: inline-block;
        text-align: center;
        margin: 12px;

        strong {
            font-size: 35px;
        }
    }
}

.chart-description {
    display: inline-block;
    top: -70px;
    left: 50px;
    position: relative;

    p span:first-child {
        width: 12px;
        height: 12px;
        display: inline-block;
        margin-right: 10px;
    }
}

.custo.nav-tabs {
    padding-top: 40px;
}

.overview-redaction {
    background: #fff;
    border-radius: 10px;
    padding-bottom: 40px;

    > .nav-tabs {
        li {
            &:first-child {
                margin-left: 38%;
            }
        }
    }
}

.custo.nav-tabs li {
    margin-bottom: 0;

    a {
        &:focus, &:hover {
            border: none;
            border-bottom: 4px solid #0e62c7;
        }
    }

    &.active a {
        border: none;
        border-bottom: 4px solid #0e62c7;
    }

    a {
        border: none;
        border-bottom: 4px solid transparent;
    }
}

.content-tmp > .nav-tabs li:first-child {
    margin-left: 8%;
}

/* Matching tab Styling */

.list-content .viewChange span {
    font-size: 23px;
    margin: 35px 0 15px;
    color: #34d058 !important;
}

.homepage-porter {
    .overview-footer {
        border-left: 1px solid #ccc;
        top: 35px;
        position: relative;
    }

    .chart-description {
        left: 40px;
    }

    .nav-tabs {
        border-bottom: 1px solid #ddd !important;
    }

    .nav.nav-tabs > li > a {
        background: none;
    }

    .photo-view {
        img {
            margin: 0 auto;
        }

        p {
            text-align: center;
            margin-top: 5px;
        }
    }
}

.photo-view .col-xs-4 {
    margin-bottom: 20px;
}

.img-box {
    max-width: 40px;
    display: inline-block;
}

#redaction .chart-description {
    top: -46px;
}

/* upload modal styling */

#uploadModal {
    .modal-header {
        border: none;

        .tbar {
            width: 25px;
            height: 3px;
            background: blue;
            display: inline-block;
        }
    }

    .modal-footer {
        border: none;

        a {
            margin-right: 15px;
            text-decoration: underline;
        }
    }

    .modal-body {
        display: flex;

        i {
            font-size: 22px;
            border: 1px solid #ccc;
            padding: 14px;
            border-radius: 50%;
            margin-bottom: 5px;
        }

        .color-red {
            color: #990000;
        }
    }
}

/* check box styles */

.checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    position: relative;
}

.checkbox-custom {
    opacity: 0;
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;

    + .checkbox-custom-label:before {
        content: '';
        background: #fff;
        border: 2px solid #f59393;
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        padding: 0;
        margin-right: 10px;
        text-align: center;
        position: relative;
        top: -13px;
    }

    &:checked + .checkbox-custom-label:before {
        content: '\f00c';
        font-family: 'FontAwesome';
        background: #f59393;
        color: #fff;
    }
}

/* table row on hover */

.list-content .table-hover > tbody > tr {
    &:hover {
        background: #d9edf7;
    }

    > th {
        padding: 22px 15px !important;
    }
}

/* animated btn styling */

.animated-button {
    position: fixed;
    bottom: 32px;
    right: 52px;
    z-index: 1000;

    figure.gooey-btn {
        position: relative;

        a {
            // padding: 17px 17px;
            width: 50px;
            height: 50px;
            font-size: 18px;
            border-radius: 50%;
            background: #f59393;
            color: #fff;
            display: inline-block;
            box-shadow: 0 0 20px #ddd;
            text-decoration: none;

            &#icon2, &#icon3, &#icon4, &#icon5 {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                right: 0;
                bottom: 0px;
                z-index: 11;
                transition: all 0.3s ease-out;
            }

            > span {
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 100%;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }
    &.btn-open{
        figure.gooey-btn{
            a {
                &#icon2, &#icon3, &#icon4, &#icon5 {
                    visibility: visible;
                    opacity: 1;
                }
                &#icon2 {
                    bottom: 75px !important;
                }

                &#icon3 {
                    bottom: 133px !important;
                }

                &#icon4 {
                    bottom: 193px !important;
                }

                &#icon5 {
                    bottom: 253px !important;
                }
            }
        }
    }
}

/* #icon2, #icon3, #icon4, #icon5 {
    position: absolute;
    right: 50%;
    bottom: 0px;
    z-index: 11;
    transition: bottom 0.3s ease-out;
}

.top2 {
    bottom: 75px !important;
    right: 0;
}

.top3 {
    bottom: 133px !important;
    right: 0;
}

.top4 {
    bottom: 193px !important;
    right: 0;
}

.top5 {
    bottom: 253px !important;
    right: 0;
}

.animated-button .gooey-btn {
  position: relative;
  z-index: 111;
} */

.diff-view #receprionnees #allView {
    overflow-x: hidden;
    overflow-y: hidden;
}

/*  preview modal and its carousel styling */

/*   bootstrap carousal defalt */

/*

#carousel-list .carousel-control{

    background: none;

    opacity:1;

    //background: aquamarine;

}

#carousel-list .carousel-control.right{

    right: -120px;

}

#carousel-list .carousel-control.left{

    left: -120px;

}



#carousel-list .carousel-control span:before{

    color:#6f5499;

}



*/

/*.item-footer .container-box textarea{

    display: inline-block;

    width: 200px;

}*/

/* not to flikr modal */

#preview_modal {
    .modal-content {
        transition: all .3s ease;
        padding: 15px;

        .carousel {
            /*min-height: 650px;*/
            transition: all .3s ease;
            .item-carousal{
                transition: all .3s ease;
            }
        }
    }

    textarea.form-control.edit-desc {
        min-height: 180px !important;
        font-size: 14px !important;
    }

    .item-head {
        h3 {
            display: inline-block;
            margin: 0;
        }

        // border-bottom: 1px solid #ccc;
        padding-bottom: 15px;

        .close {
            top: 10px;
            position: relative;
        }
    }

    .item-body {
        padding: 30px 0;

        .bborder {
            p {
                &:last-child {
                    margin-bottom: 15px !important;
                }
            }
        }

        .img-wrapper {
            float: right;
            max-width: 105px;
            max-height: 135px;
        }

        .celine {
            color: #333;
        }

        .exp {
            font-size: 16px;
            // line-height: 1.9;
            margin-top: 25px;
        }
        .product-overview{
            padding: 15px;
            box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 0 0 1px rgba(63,63,68,0.1);
            border-radius: 4px;
            .product-image{
                max-height: 80%;
            }
            .prod-shortdesc{
                color: #979898;
                label{
                    font-weight: bold;
                    display: block;
                    text-transform: uppercase;
                    color: #353F53;
                    margin-bottom: 0;
                }
            }
            .prod-desc{
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
                border-radius: 4px;
                margin-top: 15px;
                .nav{
                    &.nav-tabs{
                        background-color: #f4f4f4;
                        border-top-right-radius: 4px;
                        border-top-left-radius: 4px;
                    }
                }
                .tab-content{
                    margin-bottom: 0;
                    border-bottom-right-radius: 4px;
                    border-bottom-left-radius: 4px;
                    transition: height .3s ease;
                    .tab-pane{
                        p.exp{
                            margin: 0;
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }

    .item-footer {
        .validee {
            color: green;
            margin-right: 15px;
        }

        .container-box {
            text-align: center;

            button {
                width: 156px;
            }

            .envo-pos {
                top: 10px;
                position: relative;
            }
        }
    }
}

#carousel-list nav a {
    position: absolute;
    top: 50%;
    display: block;
    outline: none;
    text-align: left;
    z-index: 1000;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    &.prev {
        left: -175px !important;
    }

    &.next {
        right: -175px !important;
    }

    svg {
        display: block;
        margin: 0 auto;
        padding: 0;
    }
}
.rounded-btn{
    background-color: #F59393;
    border: none;
    color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 150px;
    transition: all 0.3s ease;
    &[data-slide="prev"]{
        left: 0;
    }
    &[data-slide="next"]{
        right: 0;
    }
}

.nav-roundslide {
    a {
        margin: 0 20px;
        padding: 15px;
        width: 62px;
        height: 62px;
        border-radius: 40px;
        background: #f59393;
        -webkit-transition: width 0.3s, background-color 0.3s;
        transition: width 0.3s, background-color 0.3s;
    }

    .icon-wrap {
        position: absolute;
        width: 32px;
    }

    a {
        &.prev .icon-wrap {
            left: 15px;
        }

        &.next .icon-wrap {
            right: 15px;
        }
    }

    svg.icon {
        fill: #f8f8f8;
    }

    h3 {
        position: absolute;
        top: 7px;
        margin: 0;
        color: aliceblue;
        text-transform: uppercase;
        white-space: nowrap;
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 0.85em;
        line-height: 4.45;
        opacity: 0;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
    }

    a {
        &.prev h3 {
            right: 40px;
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }

        &.next h3 {
            left: 45px;
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }

        &:hover {
            width: 200px;
            background: #f59393;

            h3 {
                opacity: 1;
                -webkit-transition-delay: 0.1s;
                transition-delay: 0.1s;
                -webkit-transform: translateX(0);
                transform: translateX(0);
            }
        }
    }
}

/* SVG wrap */

.svg-wrap {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.search-box {
    span {
        top: 0;
        background: #f59393;
        color: #fff;
        border: #23688b;
    }

    #myInput {
        width: 132px;
        -webkit-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
        border: 2px solid #f59393;
    }

    input:focus {
        width: 100% !important;
    }
}

.list-content {
    #allView {
        overflow-x: hidden !important;
    }

    .viewChange .glphyicon-th {
        color: green;
        font-size: 23px;
    }
}

/* .modal-zindex {
    z-index: 11111;
    top: 90px;
} */

.gly {
    font-size: 22px;
    color: green;
    top: -13px;
}

.modal-high {
    height: 100%;
}

.modal-head {
    header: none;
}

.list-content .listView tr:hover {
    cursor: pointer;
}

@media (min-width: 750px) {
    .homepage-dashboard .dasContent .col-sm-5:last-child {
        margin-left: 25px;
    }
}

@media (min-width: 992px) {
    .custo.nav-tabs li {
        margin-right: 2%;
    }
}

@media (max-width: 1290px) {
    #redaction .chart-description, .chart-description {
        top: 0 !important;
    }
}

@media (max-width: 767px) {
    .homepage-porter .overview-footer {
        border: none;
    }
}

@media (max-width: 768px) {
    #redaction .chart-description, .chart-description {
        top: -70px !important;
    }
}
