/* Homepage Dashboard */

input:focus {
  outline: none;
}

.tborder {
  border-top: 1px solid #ccc;
}

.pt-zero {
  padding-top: 0 !important;
}

.bborder {
  border-bottom: 1px solid #ccc;
}

.homepage-dashboard {
  background: #eee;
  .dasContent {
    background: #fff;
    border-radius: 10px;
    padding: 60px 0;
    .overview-head {
      padding: 20px 0 10px;
      text-align: center;
      border-bottom: 1px solid #ccc;
      span {
        font-size: 19px;
      }
    }
    .overview-body {
      padding: 30px 10px 10px 20px;
    }
    .col-sm-5 {
      box-shadow: 0 0 20px #ddd;
      padding: 0;
    }
  }
}



.overview-footer {
  div {
    display: inline-block;
    text-align: center;
    margin: 12px;
    strong {
      font-size: 35px;
      color: #FF0000;
    }
  }
  text-align: center;
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #CCCCCC;
}

.chart-description {
  display: inline-block;
  top: -70px;
  left: 50px;
  position: relative;
  p span:first-child {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 10px;
  }
}



#errorlist {
  padding-top: 10px;
  p {
    color: #FFFFFF !important;
  }
}

#oldSubject {
  padding: 20px;
  padding-bottom: 40px;
  color: #FF0000;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.overview-redaction {
  background: #fff;
  border-radius: 10px;
  padding-bottom: 40px;
}

.custo.nav-tabs {
  padding-top: 40px;
}

.overview-redaction > .nav-tabs li:first-child {
  margin-left: 0;
}

.custo.nav-tabs li {
  background: #FFFFFF;
  color: #DDD;
  text-align: center;
  width: 33%;
  &.active {
    background: #2c2e2f;
    color: #FFFFFF;
  }
  a {
    &:focus, &:hover {
      border: none;
      border-bottom: 1px solid #AAAAAA !important;
      margin-right: 0;
      color: #FFFFFF;
    }
  }
  &.active a {
    border: none;
    border-bottom: 1px solid #AAAAAA !important;
    margin-right: 0;
    color: #FFFFFF;
  }
  a {
    border: none;
    /*border-bottom: 4px solid transparent;*/
  }
}



.content-tmp > .nav-tabs li:first-child {
  margin-left: 0%;
}

/*Inner*/

.inner.nav-tabs {
  padding-top: 40px;
}

.content-tmp > .nav-tabs li:first-child {
  margin-left: 0;
}

.inner {
  &.nav-tabs li {
    margin-bottom: 0;
    width: 33%;
    text-align: center;
    a {
      &:focus, &:hover {
        border: none;
        border-bottom: 2px solid #FF0000;
      }
    }
    &.active a {
      border: none;
      border-bottom: 2px solid #FF0000;
    }
    a {
      border: none;
      border-bottom: 4px solid transparent;
      font-weight: normal;
    }
  }
  .nav.nav-tabs > li > a {
    background: none;
    color: #333;
    font-weight: normal;
  }
}



/*Inner End*/

/* Matching tab Styling */

.list-content .viewChange span {
  font-size: 23px;
  margin: 35px 0 15px;
  color: #34d058 !important;
}

.chart-heading-inner {
  color: #333;
  font-weight: bold;
  font-size: 12px;
}

.homepage-porter {
  .overview-footer {
    border-left: 1px solid #ccc;
    top: 35px;
    position: relative;
  }
  .chart-description {
    left: 40px;
  }
  .nav-tabs {
    border-bottom: 1px solid #ddd !important;
  }
  .nav.nav-tabs > li > a {
    background: none;
    color: #333;
    font-weight: bold;
  }
}



.custo.nav-tabs li.active a {
  color: #FFFFFF;
}

.homepage-porter .photo-view {
  img {
    margin: 0 auto;
  }
  p {
    text-align: center;
    margin-top: 5px;
  }
}

.photo-view .col-xs-4 {
  margin-bottom: 20px;
}

.img-box {
  max-width: 40px;
  display: inline-block;
}

#redaction .chart-description {
  top: -46px;
}

/* upload modal styling */

#uploadModal {
  .modal-header {
    border: none;
  }
  .modal-footer {
    border: none;
    a {
      margin-right: 15px;
      text-decoration: underline;
    }
  }
  .modal-header .tbar {
    width: 25px;
    height: 3px;
    background: blue;
    display: inline-block;
  }
  .modal-body {
    display: flex;
    i {
      font-size: 22px;
      border: 1px solid #ccc;
      padding: 14px;
      border-radius: 50%;
      margin-bottom: 5px;
    }
    .color-red {
      color: #990000;
    }
  }
}

#preview_modal .modal-content {
  padding: 25px !important;
}

/* check box styles */

.checkbox-custom {
  opacity: 0;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
  position: relative;
}

.checkbox-custom {
  + .checkbox-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #f59393;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 0;
    margin-right: 10px;
    text-align: center;
    position: relative;
    top: -13px;
  }
  &:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #f59393;
    color: #fff;
  }
}

/* table row on hover */

.list-content .table-hover > tbody > tr {
  &:hover {
    background: #d9edf7;
  }
  > th {
    padding: 22px 15px !important;
  }
}

/* animated btn styling */

.animated-button {
  position: fixed;
  bottom: 32px;
  right: 52px;
  z-index: 1000;
}

#icon2, #icon3, #icon4 {
  position: absolute;
  right: 9px;
  bottom: 7px;
  z-index: 11;
  transition: bottom 1s ease-out;
}

.animated-button a {
  padding: 17px 17px;
  font-size: 18px;
  border-radius: 50%;
  background: #f59393;
  color: #fff;
  display: inline-block;
  box-shadow: 0 0 20px #ddd;
}

#icon1 {
  padding: 16px 21px;
  font-size: 20px;
}

.top2 {
  bottom: 75px !important;
}

.top3 {
  bottom: 133px !important;
}

.top4 {
  bottom: 193px !important;
}

.animated-button .gooey-btn {
  position: relative;
  z-index: 111;
}

.diff-view #receprionnees #allView {
  overflow-x: hidden;
  overflow-y: hidden;
}

/*  preview modal and its carousel styling */

.item-head {
  h3 {
    display: inline-block;
    margin: 0;
  }
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  .close {
    top: 10px;
    position: relative;
  }
}

.item-body {
  .img-wrapper {
    float: right;
  }
  padding: 30px 0;
  .celine {
    color: #333;
  }
  .exp {
    font-size: 15px;
    margin-top: 25px;
  }
}

.item-footer .container-box {
  text-align: center;
  button {
    width: 156px;
  }
}

.item-body .bborder p:last-child {
  margin-bottom: 15px !important;
}

/*   bootstrap carousal defalt */

/*
#carousel-list .carousel-control{
    background: none;
    opacity:1;
    //background: aquamarine;
}
#carousel-list .carousel-control.right{
    right: -120px;
}
#carousel-list .carousel-control.left{
    left: -120px;
}

#carousel-list .carousel-control span:before{
    color:#6f5499;
}

*/

.item-footer {
  .validee {
    color: green;
    margin-right: 15px;
  }
  .container-box .envo-pos {
    top: 10px;
    position: relative;
  }
}

/*.item-footer .container-box textarea{
    display: inline-block;
    width: 200px;
}*/

/* not to flikr modal */

#preview_modal .modal-content .carousel {
  min-height: 650px;
}

/* carousel arrow styling  */

#carousel-list nav a {
  position: absolute;
  top: 50%;
  display: block;
  outline: none;
  text-align: left;
  z-index: 1000;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  &.prev {
    left: -175px !important;
  }
  &.next {
    right: -175px !important;
  }
  svg {
    display: block;
    margin: 0 auto;
    padding: 0;
  }
}

.nav-roundslide {
  a {
    margin: 0 20px;
    padding: 15px;
    width: 62px;
    height: 62px;
    border-radius: 40px;
    background: #f59393;
    /*#34495e;*/
    -webkit-transition: width 0.3s, background-color 0.3s;
    transition: width 0.3s, background-color 0.3s;
  }
  .icon-wrap {
    position: absolute;
    width: 32px;
  }
  a {
    &.prev .icon-wrap {
      left: 15px;
    }
    &.next .icon-wrap {
      right: 15px;
    }
  }
  svg.icon {
    fill: #f8f8f8;
    /*#566473;*/
  }
  h3 {
    position: absolute;
    top: 7px;
    margin: 0;
    color: aliceblue;
    /*#566473;*/
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 0.85em;
    line-height: 4.45;
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
  }
  a {
    &.prev h3 {
      right: 40px;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    &.next h3 {
      left: 45px;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    &:hover {
      width: 200px;
      background: #f59393;
      /*#34495e;*/
      h3 {
        opacity: 1;
        -webkit-transition-delay: 0.1s;
        transition-delay: 0.1s;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }
}

/* SVG wrap */

.svg-wrap {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.search-box {
  span {
    top: 0;
    background: #f59393;
    color: #fff;
    border: #23688b;
  }
  #myInput {
    width: 132px;
    -webkit-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    border: 2px solid #f59393;
  }
  input:focus {
    width: 100% !important;
  }
}

.list-content {
  #allView {
    overflow-x: hidden !important;
  }
  .viewChange .glphyicon-th {
    color: green;
    font-size: 23px;
  }
}

/* .modal-zindex {
  z-index: 11111;
  top: 90px;
} */

.gly {
  font-size: 22px;
  color: green;
  top: -13px;
}

.modal-high {
  height: 100%;
}

.modal-head {
  header: none;
}

.list-content .listView tr:hover {
  cursor: pointer;
}

#preview_modal .item-body .exp {
  font-size: 16px;
  line-height: 1.9;
  margin-top: 25px;
}

.item-body .img-wrapper {
  max-width: 105px;
  max-height: 135px;
}

#preview_modal textarea.form-control.edit-desc {
  min-height: 180px !important;
  font-size: 14px !important;
}

/*BUT2*/

/* VSCNF  Dashboard------  */

.btn-brand {
  border-color: #e60064;
  background: transparent;
  padding: 4px 25px;
  border-radius: 4px;
  &:hover, &:focus {
    background: #e60064;
    color: #fff;
  }
}

.capiti {
  text-transform: capitalize;
}

.upper {
  text-transform: uppercase !important;
}

.ml10 {
  margin-left: 10px;
}

.mr30 {
  margin-right: 30px;
}

.main-modal {
  #price_modal {
    .modal-footer {
      border-top: none;
      padding-top: 80px;
    }
    .modal-content {
      border-radius: 0;
      top: 30px;
      padding: 30 0px;
    }
    .tbar {
      height: 5px;
      width: 46px;
      display: inline-block;
      background: #e60064;
    }
  }
  .format {
    padding: 10px 0 10px;
    input {
      margin-bottom: 20px;
      &:focus {
        border-color: #e60064;
      }
    }
    select:focus {
      border-color: #e60064;
    }
  }
  .country-dd {
    padding: 20px 0 35px;
    border-bottom: 1px solid #ccc;
    .vers {
      top: 5px;
      position: relative;
      color: #888;
    }
  }
  a.selector {
    width: 100%;
  /*
    background: #e60064;
        border-radius: 4px;
    color: #fff;
        */
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
  }
  .languages {
    width: 100%;
    //background: #e60064;
    a {
      //color: #fff;

    }
  }
  .dropdown-menu > .active > a {
    background: #e60064;
  }
}

/*
// red dropdown styling------
.main-modal .red-dd{
    background: #e60064;
    color: #fff;
    box-shadow: 0 0 20px #ddd;
    border-radius: 4px !important;
    border:aliceblue;
 }
 */

.dropdown-menu > .active > a {
  &:hover, &:focus {
    background: #e60064;
  }
}

.main-modal {
  .btn-box {
    -webkit-flex: 1;
    flex: 1;
    background: #fff;
    border-radius: 3px;
    text-align: center;
    padding: 15px 0 16px 0;
    margin: 0 10px;
    line-height: 1.6em;
    font-size: 14px;
    border: 1px solid #bbb;
    &:hover {
      cursor: pointer;
      border-color: #e60064;
      background: #e60064;
      box-shadow: 0 12px 30px #ccc;
      border-color: #e60064;
    }
    &.active {
      background: #e60064;
      box-shadow: 0 12px 30px #ccc;
      border-color: #e60064;
    }
    &:hover p, &.active p {
      color: #fff;
    }
    p {
      margin: 0;
      color: #333;
    }
  }
  .sel-row {
    padding: 30px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    &.criticle-time {
      -webkit-justify-content: space-around;
      justify-content: space-around;
    }
  }
}

.custom_upload i {
  font-size: 22px;
  border: 1px solid #ccc;
  padding: 14px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.main-modal {
  .custom_upload {
    padding: 30px 0 0;
  }
  .modal-footer {
    button {
      &:first-child {
        border: 1px solid #e60064 !important;
        color: #e60064;
        background: transparent;
        margin-right: 12px;
      }
      letter-spacing: 1px;
      padding: 10px;
      padding-left: 22px;
      padding-right: 22px;
      border-radius: 4px;
    }
    .btn-primary, button:hover {
      background: #e60064;
      box-shadow: 0 0 20px #ccc;
      color: #fff;
      font-weight: bold;
      border: #e60064;
    }
  }
}

.mamdal .modal-footer button {
  &:first-child {
    border: 1px solid #e60064 !important;
    color: #e60064;
    background: transparent;
    margin-right: 12px;
  }
  letter-spacing: 1px;
  padding: 10px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
}

.main-modal {
  .modal-content {
    padding-top: 17px !important;
  }
  .modal-footer {
    padding-top: 0 important;
  }
}

.mamdal .modal-footer {
  .btn-primary {
    border: 1px solid transparent !important;
  }
  button:hover {
    background: #e60064;
    box-shadow: 0 0 20px #ccc;
    color: #fff;
    font-weight: bold;
    border: #e60064;
  }
}

/*
.main-modal .dropdown-menu{
      border: 4px solid #e60064;
 }
 */

/* animated btn styling */

.animated-button {
  padding-right: 10px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

#icon2, #icon3, #icon4 {
  position: absolute;
  right: 19px;
  bottom: 7px;
  z-index: 11;
  transition: bottom 0.1s ease-out;
}

.animated-button a {
  border: 1px solid #f59393;
  /* #0ba7f5; #f59393*/
  padding: 12px 17px;
  font-size: 14px;
  border-radius: 50%;
  background: #f59393;
  color: #fff;
  display: inline-block;
  box-shadow: 0 0 20px #ddd;
}

#icon1 {
  padding: 16px 21px;
  font-size: 20px;
}

.top2 {
  bottom: 75px !important;
}

.top3 {
  bottom: 133px !important;
}

.top4 {
  bottom: 193px !important;
}

.animated-button {
  .gooey-btn {
    position: relative;
    z-index: 111111;
    a {
      background: #1283c5;
      border-color: #1283c5;
      box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
    }
  }
  a {
    background: #fd9c3b;
  }
}

.mutiple-selection-dropdown {
  .selected_country {
    border: 1px solid #aaa;
    background: #f6f7fb;
    color: #666;
    padding: 1px 6px 1px 2px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    display: inline-block;
    .glyphicon-remove {
      top: 0;
      margin-right: 4px;
      font-size: 10px;
      padding: 2px;
    }
  }
  .languages li {
    padding: 0 15px;
    a {
      border-radius: 20px;
    }
  }
}

/* MODAL-2 STYLING------  */

.recap_modal {
  .modal-footer button:first-child {
    border: 1px solid #e60064 !important;
    color: #e60064;
    background: transparent;
    margin-right: 12px;
  }
  .modal-dialog {
    bottom: 17px;
  }
  .modal-footer {
    button {
      letter-spacing: 1px;
      padding: 8px;
      padding-left: 18px;
      padding-right: 18px;
      border-radius: 4px;
    }
    .btn-primary {
      border: 1px solid #fff;
      background: #e60064;
    }
    button:hover {
      background: #e60064;
      box-shadow: 0 0 20px #ccc;
      color: #fff;
      font-weight: bold;
    }
  }
}

.mamdal .tbar {
  height: 5px;
  width: 46px;
  display: inline-block;
  background: #e60064;
}

.recap_modal .comande {
  margin-bottom: 30px;
  h4 {
    color: #e60064;
    border-bottom: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 20px;
  }
}

.mamdal {
  thead tr th {
    text-transform: uppercase;
  }
  tbody {
    tr td {
      text-transform: capitalize;
    }
    .totale td {
      &:first-child {
        text-align: right;
      }
      &:last-child {
        color: #e60064;
      }
    }
    tr td:last-child {
      font-weight: bold;
    }
  }
  .modal-footer {
    border-top: none;
  }
  .modal-content {
    padding-top: 0 !important;
  }
  .input-table {
    tbody tr td {
      input {
        text-align: center;
        width: 100px;
        border: none;
        box-shadow: 0 0 20px #ddd;
        padding: 5px 0;
        top: -3px;
        position: relative;
      }
      text-align: center;
      &:first-child {
        font-size: 16px;
        font-weight: bold;
        text-align: right;
        span {
          padding: 0 5px;
        }
      }
      &:last-child {
        font-size: 16px;
        font-weight: bold;
        text-align: right;
        width: 150px;
      }
    }
    thead tr th {
      text-align: center;
      &:last-child {
        text-align: right;
      }
    }
  }
  .table_top {
    padding: 10px;
    background: #f6f7fb;
    margin-top: 20px;
  }
  .input-table thead tr {
    background: #e5e5e5;
  }
  .modal-content {
    border-radius: 4px;
    top: 10px;
  }
  .tbar {
    height: 5px;
    width: 46px;
    display: inline-block;
    background: #e60064;
  }
}

/*-- PM MODAL STYLING---*/

/* .pm_modal .table-model-3 th{ */

/* text-align:right; */

/* } */

/* .pm_modal .text-right .ml10{ */

/* font-family: verdana; */

/* font-weight: bold; */

/* font-size: 13px; */

/* color: #607D8B; */

/* } */

/* .pm_modal .text-right{ */

/* font-family: verdana; */

/* font-weight: bold; */

/* font-size: 13px; */

/* color: #607D8B; */

/* } */

/* .pm_modal .upper{ */

/* font-size: 15px; */

/* font-weight: bold; */

/* color: #9E9E9E; */

/* text-align: center; */

/* } */

/* .pm_modal .bg-col tr{ */

/* background: #EEEEEE; */

/* } */

/* .pm_modal .bg-col #no-words{ */

/* width: 73%; */

/* } */

/*---Modal-3 user group Styling --*/

.user_group {
  .modal-body .title-des .pbar {
    height: 5px;
    width: 46px;
    display: inline-block;
    background: #e60064;
    margin-left: -10px;
    margin-top: 13px;
  }
  .permission .AJ {
    font: 400px 16px verdana;
    margin-left: -10px;
    color: #9E9E9E;
    display: inline-block;
    float: left;
  }
  .right-icon .glyphicon-plus {
    border: 1px solid #03A9F4;
    padding: 12px;
    border-radius: 50%;
    color: #03A9F4;
  }
  .modal-footer {
    button {
      letter-spacing: 1px;
      padding: 8px;
      padding-left: 18px;
      padding-right: 18px;
      border-radius: 4px;
    }
    .btn-primary {
      background: #ccc;
      border: 1px solid #fff;
    }
    button:hover {
      background: #e60064;
      box-shadow: 0 0 20px #ccc;
      color: #fff;
      font-weight: bold;
    }
  }
  .euro-group .group-1 .end-user {
    font-size: 22px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
  }
}

/*.user_group .permission .perm {

    font-weight: bold;
    font-size: 16px;
    padding-left: 9px;
    color: #03A9F4;
    font-family: verdana;
    }
*/

.tab-content .chart-description .chart-heading {
  font: bold 15px verdana;
  color: #333;
}

/* VSCNF homepage traduction B2C */

.vscnf_homepage {
  .nav-pills > li.active > a {
    background: #FF0000;
    &:hover, &:focus {
      background: #FF0000;
    }
  }
  .container-fluid {
    position: relative;
    background: #fff;
    padding-bottom: 62px;
  }
  .chart-description {
    margin-left: 30px !important;
    top: -90px !important;
    max-width: 100px;
  }
  .numSty {
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
    strong {
      span {
        font-size: 42px;
        color: #FF0000;
        margin-top: 10px;
        display: block;
      }
      .but-consumed {
        font-size: 36px !important;
        color: #FF0000;
        margin-top: 10px;
        display: block;
      }
    }
  }
  .row.first .col-left {
    border-right: 1px solid #ccc;
    margin-top: 55px;
  }
  .nav.nav-tabs + .tab-content {
    padding: 40px 0px;
  }
}

.mamnav {
  &.nav.nav-tabs > li > a {
    background: none;
  }
  &.nav-tabs {
    border-bottom: 1px solid #ddd !important;
    text-align: center;
  }
}

.custo.nav-tabs {
  padding-top: 0px;
}

.chart-description .chart-heading {
  font: bold 14px verdana;
  color: #333;
}

.vscnf_homepage .view-progress {
  .progress-bar {
    background: #FF0000;
    padding: 0;
    color: #fff;
    font-weight: bold;
    padding-top: 2px;
  }
  .progress {
    height: 20px;
  }
}

.view-progress, .progress {
  margin-top: 12px;
}

.view-progress-stat {
  margin-top: 12px;
  margin-bottom: 40px;
  /*border-bottom: 1px solid #eee;*/
  padding-bottom: 20px;
  padding-top: 30px;
}

.progress-stat {
  background: #EEE;
  margin-top: 49px;
  margin-bottom: 10px;
}

.barinfo-div {
  display: inline-block;
  text-align: center;
  margin: 12px;
  padding: 60px 0;
}

.info-stat {
  margin-top: 30px;
}

.progress-stat2 {
  background: #FFF;
  margin-top: 54px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #AAA;
}

.vscnf_homepage .view-progress-stat {
  .progress-stat {
    height: 30px;
  }
  .progress-bar {
    background: #FF0000;
    padding: 0;
    color: #fff;
    font-weight: bold;
    padding-top: 6px;
    height: 30px;
  }
}

#subject-new_filter {
  float: right;
  text-align: right;
  visibility: hidden;
}

.user-lists {
  background: #fff;
  padding: 15px;
}

.add-user {
  .member-form-add-header .action-buttons {
    .btn-secondary {
      border-radius: 4px;
      background: #e60064;
    }
    .btn-gray {
      border-radius: 4px;
      &:hover {
        background: #e60064;
        color: #fff;
      }
    }
  }
  .member-form-inputs {
    .btn-del .btn-gray {
      border-radius: 4px;
      &:hover {
        background: #e60064;
        color: #fff;
      }
    }
    input:hover {
      cursor: pointer;
      background: #EEEEEE;
      border-color: #e60064;
    }
    .types-busi {
      width: 42%;
      &:hover {
        cursor: pointer;
        background: #EEEEEE;
        border-color: #e60064;
      }
    }
  }
}

.delete_Modal {
  .modal-dialog {
    top: 145px;
  }
  .modal-footer {
    .btn-default {
      padding-top: 7px;
      padding-bottom: 7px;
    }
    .btn-validate {
      padding-bottom: 7px;
      padding-top: 6px;
      border: 1px solid #e60064;
    }
  }
}

.pagination > li > {
  a:hover, span:hover, a:focus, span:focus {
    background: #2196F3;
    color: #16191e;
    border-color: #ddd;
  }
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 20px;
}

.flex-item select {
  width: 158px;
  margin: 15px;
  padding: 3px;
  border-color: #ccc;
}

.table-data {
  #listView .table-down span {
    border-radius: 50%;
    border: 1px solid #999;
    padding: 4px;
    font-size: 10px;
  }
  margin-top: 20px;
}

.dd-data {
  td {
    padding: 10px 6px !important;
    p {
      color: #4CAF50;
    }
  }
  &.bla td p {
    color: #333;
  }
  td span {
    color: #999;
  }
}

.table-hide {
  cursor: pointer;
}

.dd-data {
  background: #eff8fc;
}

.bar {
  height: 5px;
  width: 40px;
  display: inline-block;
  background: #e60064;
}

#custPopover {
  h5 {
    margin-top: 0;
    span {
      color: #e60064;
    }
  }
  padding: 0 10px;
}

#fileTypePopover {
  padding: 0 20px;
  h5 {
    font-weight: bold;
    margin-top: 0;
  }
  a {
    span {
      border: 1px solid #ccc;
      padding: 8px;
      border-radius: 50%;
      margin: 5px;
      color: #777;
    }
    &:hover span, &:focus span, &.active span {
      border-color: #e60064;
      color: #e60064;
    }
    &:hover h6, &:focus h6, &.active h6 {
      color: #e60064;
    }
    text-align: center;
    display: inline-block;
    h6 {
      margin-top: 3px;
      letter-spacing: 1px;
    }
  }
}

/* 12.06.2017: updates by priyam */

/**
 *
 * Apply your custom CSS here
 *
*/

.translate-wrap {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: 40px 0;
  .translate-container {
    width: 700px;
    margin: 0 auto;
    padding: 20px 0;
  }
}

.translate-mid {
  width: 40px;
  font-weight: 600;
  margin-top: 10px;
}

.tbar {
  height: 5px;
  width: 46px;
  display: inline-block;
  background: #e60064;
}

.modal-ex-container {
  width: 80px;
  margin: 60px auto;
}

/*Copy From Here*/

/**Dropdown Starts **/

.chosen-container-single .chosen-single {
  padding: 8px 10px !important;
  color: #565656 !important;
  background: #fff !important;
  height: 38px !important;
  border-radius: 0 !important;
}

.chosen-container-multi {
  .chosen-choices {
    padding: 8px 10px !important;
    color: #565656 !important;
    background: #fff !important;
    height: 38px !important;
    border-radius: 0 !important;
    padding: 5px 10px !important;
    height: auto !important;
  }
  .chosen-results {
    margin: 0 4px;
  }
}

.chosen-container-single {
  .chosen-single div b {
    background: url("../../lib/chosen-select-with-image/chosen-sprite.png") no-repeat 0px 10px !important;
  }
  .chosen-search input[type="text"] {
    padding: 8px 20px 8px 8px !important;
    background: url('../../images/search.svg') no-repeat 100% 2px !important;
    -webkit-background-size: 25px !important;
    background-size: 25px !important;
  }
}

.chose-image {
  width: 20px !important;
  max-height: 14px !important;
  display: none;
}

.chosen-container-multi .chosen-choices li {
  &.search-choice {
    padding: 5px 5px 5px 20px !important;
    background: #e6e6e6 !important;
    border-radius: 0 !important;
  }
  &.search-field input[type="text"] {
    color: #565656 !important;
  }
  &.search-choice .search-choice-close {
    right: auto !important;
    left: 3px !important;
    top: 7px !important;
  }
}

.chosen-container .chosen-results li {
  padding: 8px !important;
  &.group-option.highlighted, &.active-result.highlighted {
    background: #e60064;
    transition: all .2s ease;
  }
}

/**Dropdown Ends **/

/**Custom Modal Starts**/

.modal-body-container {
  text-align: center;
  color: #565656;
}

.modal-container-title {
  color: #e60064;
  span {
    font-weight: 600;
  }
}

.modal-container-tag {
  font-size: 16px;
}

.modal-container-desc {
  font-size: 12px;
  a {
    font-weight: 600;
  }
}

button.modal-confirm {
  border: 1px solid #e60064;
  color: #e60064;
  background: transparent;
  text-transform: uppercase;
  &:hover, &:focus {
    background: #e60064;
    box-shadow: 0 0 20px #ccc;
  }
}

@media (max-width: 1290px) {
  #redaction .chart-description, .chart-description {
    top: 0 !important;
  }
}

@media (max-width: 768px) {
  #redaction .chart-description, .chart-description {
    top: -70px !important;
  }
}
@media (max-width: 767px) {
  .homepage-porter .overview-footer {
    border: none;
  }
}
@media (min-width: 750px) {
  .homepage-dashboard .dasContent .col-sm-5:last-child {
    margin-left: 25px;
  }
}
@media (min-width: 992px) {
  .custo.nav-tabs li, .inner.nav-tabs li {
    margin-right: 0%;
  }
}
